{% extends "base.html" %}

{% block title %}Editar producto{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="mb-2">Editar producto</h3>

    <form method="post" class="card card-body">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Volver</a>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

